.vs/
ZC.Customer.Dto/bin/
ZC.Customer.Dto/obj/
ZC.Customer.IRepository/bin/
ZC.Customer.IRepository/obj/
ZC.Customer.IServices/bin/
ZC.Customer.IServices/obj/
ZC.Customer.Model/bin/
ZC.Customer.Model/obj/
ZC.Customer.Repository/obj/
ZC.Customer.Services/obj/
ZC.Customer.Tests/bin/
ZC.Customer.Tests/obj/
ZC.Customer/bin/
ZC.Customer/Log/
ZC.Customer/obj/
ZC.Customer.Repository/bin/
ZC.Customer.Services/bin/
